.App {
  text-align: center;
}


/* Default because back of card the cover should show */

.flippedtohide {
  transform: rotateY(90deg);
  transition: all ease-out 0.2s;
}  

/* When user clicks on a card, add this class */

.flippedtoshow {
  transform: rotateY(0deg);
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}


